# Dependencies
node_modules/
*/node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
.pytest_cache/

# Environment Variables
.env
*.env
!.env.example

# Build / Output
dist/
dist-ssr/
build/
*.egg-info/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
